<ng-container>
  <div class="margen">

    <!-- <app-dialog-usuario></app-dialog-usuario> LA BORRO PORQUE SI NO -- EL FORMULARIO SALE EN EL HTML -->
    

    <div class="example-button-row">
      <button mat-button (click)="openDialog()">Agregar un nuevo usuario</button>
      <button mat-button (click)="openEditDialog()">Editar un usuario</button>
      <button mat-button (click)="openDeleteDialog()">Eliminar un usuario</button>
    </div>
    <br>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <!-- 'id', 'nombre', 'ap1', 'ap1', 'email', 'curp', 'sexo', 'id_rol', 'password' -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="ap1">
        <th mat-header-cell *matHeaderCellDef> Apellido Paterno </th>
        <td mat-cell *matCellDef="let element"> {{element.ap1}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="ap2">
        <th mat-header-cell *matHeaderCellDef> Apellido Materno </th>
        <td mat-cell *matCellDef="let element"> {{element.ap2}} </td>
      </ng-container>
    
      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
  
      <!-- Email Column -->
      <ng-container matColumnDef="curp">
        <th mat-header-cell *matHeaderCellDef> CURP </th>
        <td mat-cell *matCellDef="let element"> {{element.curp}} </td>
      </ng-container>
  
      <!-- Email Column -->
      <ng-container matColumnDef="sexo">
        <th mat-header-cell *matHeaderCellDef> Sexo </th>
        <td mat-cell *matCellDef="let element"> {{element.sexo}} </td>
      </ng-container>
  
      <!-- Email Column -->
      <ng-container matColumnDef="id_rol">
        <th mat-header-cell *matHeaderCellDef> id_rol </th>
        <td mat-cell *matCellDef="let element"> {{element.id_rol}} </td>
      </ng-container>
  
      <!-- Email Column -->
      <ng-container matColumnDef="password">
        <th mat-header-cell *matHeaderCellDef> Password </th>
        <td mat-cell *matCellDef="let element"> {{element.password}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
   
</ng-container> <!-- DIV DE ANGULAR -->